<div id='surveyForm'>
<h2><p>WDV341 Intro PHP</p></h2>
<h3><p>Survey Form</p></h3>

<form name="form1" method="post" action="">
          <fieldset>
              <p>
                  <label>
                      Email:
                      <input type="text" name="cust_email" id="cust_email"/>
                  </label>
              </p>
              <p>Please rate the following times from best (1) to worst (4)</p>
              <p>
                  <app-time-select [id]="1"></app-time-select>
                  Monday/Wednesday 10:10 am-Noon
              </p>
              <p>
                  <app-time-select [id]="2"></app-time-select>
                  Tuesday 6:00 pm-9:00 pm
              </p>
              <p>
                  <app-time-select [id]="3"></app-time-select>
                  Wednesday 6:00 pm-9:00 pm
              </p>
              <p>
                  <app-time-select [id]="4"></app-time-select>
                  Tuesday/Thursday 10:10 am-Noon
              </p>
              <p>
                  <input type="submit" name="button" id="button" value="Submit"/>
                  <input type="reset" name="button2" id="button2" value="Reset"/>
              </p>
          </fieldset>
      </form>
      <p>&nbsp;</p>
</div>
